@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@layer base {
  @font-face {
    font-family: 'Satoshi';
    src: url('/web/fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: medium;
    font-display: swap;
    font-style: normal;
  }

  body {
    @apply font-satoshi bg-[#ecf0f3] dark:bg-[#121212] text-[#1f2937] tracking-wide;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold dark:text-[#cacaca];
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl dark:text-[#cacaca];
  }
  h2 {
    @apply text-3xl sm:text-4xl dark:text-[#cacaca];
  }
  p {
    @apply dark:text-[#a3aba8] text-left tracking-wide leading-relaxed text-xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply shadow-xl shadow-gray-400  dark:shadow-black  rounded-full uppercase  py-2.5 px-6 bg-[#73BA9B] text-white dark:bg-[#73BA9B];
  }
  label {
    @apply dark:text-[#8b8b8b];
  }
  small {
    @apply shadow-xl shadow-gray-400  dark:shadow-black  rounded-full m-1 pl-1.5 pr-1.5 bg-[#73ba9b] text-white dark:bg-[#73BA9B];
  }


}
