@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("/web/fonts/Satoshi-Light.woff2") format("woff2");
    font-weight: light;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/web/fonts/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/web/fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
  }
  * {
    @apply box-border p-0 m-0;
  }

  body {
    @apply font-satoshi bg-[#ecf0f3] dark:bg-[#121212] text-[#1f2937];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold dark:text-[#cacaca];
  }
  h1 {
    @apply font-bold text-4xl sm:text-5xl md:text-6xl dark:text-[#cacaca];
  }
  h2 {
    @apply text-3xl sm:text-4xl dark:text-[#cacaca];
  }
  h3 {
    @apply text-xl sm:text-2xl dark:text-[#73BA9B] tracking-widest font-semibold;
  }
  p {
    @apply dark:text-[#a3aba8] text-left tracking-wide leading-relaxed lg:text-lg sm:text-base;
  }
  li {
    @apply cursor-pointer font-medium tracking-wider;
  }
  button {
    @apply shadow-xl shadow-gray-400 font-medium dark:shadow-black  tracking-widest rounded-full uppercase py-2 px-4 bg-[#73BA9B] text-white dark:bg-[#73BA9B];
  }
  label {
    @apply text-[#73BA9B] font-bold;
  }
  small {
    @apply font-medium dark:shadow-black  m-1 pl-1.5 pr-1.5  dark:text-white text-[#2e3733];
  }
}
